<div class="card">
    <div class="card-body">
        <h1>Acerca de Nosotros</h1>
        <p>Este es una aplicación que nos sirve para 
            guardar algun evento, tarea y con esta aplicaión
            es muy facil de utilizarlo y es muy eficas. Una 
            nota puede ser un apunte de alguna cosa con el 
            objetivo de acordarse de ella tiempo después o 
            bien de extenderla. Una nota también es una 
            observación que se realiza en un texto cualquiera 
            o página de un libro y que suele ubicarse en 
            alguno de los márgenes.</p>
    </div>