<div class="jumbotron mt-4">
    <h1 class="display-4">Notas de la Aplicación</h1>
    <p class="lead">Acerca de Nosotros</p>
    <hr class="my-4">
    <p>El concepto de nota posee múltiples usos 
        y significados. El más usual es el que 
        lo presenta como la seña o marca identificatoria 
        que se aplica sobre algo con el objetivo de 
        individualizarlo, permitir su reconocimiento 
        o difundirlo. Una nota también es una observación 
        que se realiza en un texto cualquiera o página de 
        un libro y que suele ubicarse en alguno de los 
        márgenes.</p>
        <a href="http://google.com" class="btn btn-primary bnt-lg">Google</a>
</div>